<html>
<head>
<link rel="stylesheet" href="/static/stylehome.css" />
</head>
<body>
<h1> Bem vindo </h1>
<h2> Tens 10 segundos para te preparares </h2>
</body>
<div id="timer_div"></div>
<script>
setTimeout('Redirect()', 12000);
function Redirect() 
{  
    window.location="http://0.0.0.0:5000/hello/Joao"; 
} 
var seconds_left = 10;
var interval = setInterval(function() {
    document.getElementById('timer_div').innerHTML = --seconds_left;

    if (seconds_left <= 0)
    {
       document.getElementById('timer_div').innerHTML = "CHUG!";
       clearInterval(interval);
    }
}, 1000);


</script>
</html>