<html>
<head>

</head>
<body>
<img id="logo" src="http://hackerschool.tecnico.ulisboa.pt/Logotipo.png">
<h1>Bem vindo {{ name }}!</h1>
</body>
<button onclick="start()">Start</button>

<button onclick="end()">End</button>
<div id=time></div>
<script>
var startTime, endTime;

function start() {
  startTime = new Date();
};

function end() {
  endTime = new Date();
  var timeDiff = endTime - startTime; //in ms
  // strip the ms
  timeDiff /= 1000;

  // get seconds 
  var seconds = Math.round(timeDiff);
  alert(seconds);
}

var count = 0;
var fxn = function() {
  count++;
  document.getElementById('time').innerHTML = count;
}
setInterval(fxn, 1000);
</script>
</html>